<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA Portfolio Suite">

    <listeners>
        <listener class-name="com.qa.portfolio.tests.listeners.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.qa.portfolio.tests.login.LoginTest"/>
        </classes>
    </test>

    <test name="Smoke Tests">
        <classes>
            <class name="com.qa.portfolio.tests.smoke.SmokeTest"/>
        </classes>
    </test>

</suite>
