name: Selenium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser || sudo apt-get install -y google-chrome-stable

      - name: Run tests
        working-directory: selenium-java
        run: mvn clean test

      - name: Upload Allure results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: selenium-java/target/allure-results

      - name: Generate Allure Report
        run: |
          npm install -g allure-commandline
          allure generate selenium-java/target/allure-results --clean -o selenium-java/target/allure-report

      - name: Upload Allure HTML report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: selenium-java/target/allure-report