name: Selenium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Chrome
        run: sudo apt-get install -y google-chrome-stable

      - name: Run tests
        working-directory: selenium-java
        run: mvn clean test


      - name: Upload Allure results
        uses: actions/upload-artifact@v3
        with:
          name: allure-results
          path: target/allure-results

      - name: Generate Allure Report
        run: |
          npm install -g allure-commandline --save-dev
          allure generate target/allure-results --clean -o target/allure-report

      - name: Upload Allure HTML report
        uses: actions/upload-artifact@v3
        with:
          name: allure-report
          path: target/allure-report